.CarouselEntryForm {
 padding: 10px; 
}

.CarouselEntryForm_input {
  width: 300px;
  height: 30px;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #ddd;
}

.CarouselEntryForm_button {
  background-color: #282c34;
  color: white;
  font-weight: normal;
  margin-left: 20px;
  height: 30px;
  width: 100px;
}